* {
    padding: 0;
    margin: 0;
}


/* General */

:root {
    --main-txt: #FFF;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url(../images/hero-bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: var(--main-txt);
}

header h1 {
    font-size: 4.5rem;
}

header p {
    font-size: 3rem;
}